wallpaper/*
icons/*
dotfiles/matugen/outputs/obsidianSnippet.css
dotfiles/matugen/outputs/prismTheme.json
dotfiles/kitty/current-theme.conf
dotfiles/cava/themes/solarized_dark
dotfiles/cava/themes/tricolor
dotfiles/cava/themes/matugen
dotfiles/yazi/theme.toml

env.json
